<div class="container">
    <div class="row py-5">
        @for (pokemon of pokemons; track $index) {
        <a routerLink="['/exos/pokemon', pokemon.details?.id]"
            class="col-12 col-md-4 d-flex justify-content-center mb-4">
            <div class="card card-fixed-size">
                <img class="card-img-top card-img-fixed-size"
                    [src]="pokemon.details?.sprites?.other?.dream_world?.front_default" alt="{{pokemon.details?.name}}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{pokemon.details?.name}}</h5>
                </div>
            </div>
        </a>
        }
    </div>
    <div class="row">
        <div class="col-12 text-center mb-5">
            <button (click)="charger('-')" class="btn btn-secondary m-2" [disabled]="offsetActuel === 0">
                <i class="bi bi-arrow-left-circle"></i> Précédent
            </button>
            <button (click)="charger('+')" class="btn btn-secondary m-2" [disabled]="offsetActuel + limit >= 151">
                <i class="bi bi-arrow-right-circle"></i> Suivant
            </button>
        </div>
    </div>
</div>